* {
  padding: 0;
  margin: 0;
}
body > div {
  display: inline-block;
  margin: 50px;
}
.add {
  width: 30px;
  height: 3px;
  background-color: #333;
}
.add::before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  transform: rotate(-90deg);
}
.reduce {
  width: 30px;
  height: 3px;
  background-color: #333;
}
.close {
  width: 30px;
  height: 3px;
  background-color: #333;
  transform: rotate(45deg);
}
.close::before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  transform: rotate(-90deg);
}
.down {
  width: 15px;
  height: 3px;
  background-color: #333;
  transform: rotate(45deg);
}
.down::before {
  content: '';
  display: block;
  width: 15px;
  height: 3px;
  background-color: #333;
  transform: rotate(-90deg);
  position: relative;
  top: -6px;
  left: 6px;
}
.up {
  width: 15px;
  height: 3px;
  background-color: #333;
  transform: rotate(-45deg);
}
.up::before {
  content: '';
  display: block;
  width: 15px;
  height: 3px;
  background-color: #333;
  transform: rotate(-90deg);
  position: relative;
  top: 6px;
  left: 6px;
}
.left {
  width: 15px;
  height: 3px;
  background-color: #333;
  transform: rotate(-45deg);
}
.left::before {
  content: '';
  display: block;
  width: 15px;
  height: 3px;
  background-color: #333;
  transform: rotate(270deg);
  position: relative;
  top: 6px;
  left: -6px;
}
.right {
  width: 15px;
  height: 3px;
  background-color: #333;
  transform: rotate(-45deg);
}
.right::before {
  content: '';
  display: block;
  width: 15px;
  height: 3px;
  background-color: #333;
  transform: rotate(-90deg);
  position: relative;
  top: -6px;
  left: 6px;
}
.correct {
  width: 15px;
  height: 3px;
  background-color: #333;
  transform: rotate(45deg);
}
.correct::before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  transform: rotate(-90deg);
  position: relative;
  top: -14px;
  left: 0px;
}
.triangle-up {
  border: 10px solid #333;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.triangle-down {
  border: 10px solid #333;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.arrow-down::before {
  content: '';
  display: inline-block;
  border: 20px solid #333;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.arrow-down::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333;
  position: relative;
  top: -40px;
  left: -30px;
}
.arrow-up::before {
  content: '';
  display: inline-block;
  border: 20px solid #333;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.arrow-up::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333;
  position: relative;
  top: 20px;
  left: -30px;
}
.arrow-left::before {
  content: '';
  display: inline-block;
  border: 20px solid #333;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.arrow-left::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333;
  position: relative;
  top: -10px;
}
.arrow-right::before {
  content: '';
  display: inline-block;
  border: 20px solid #333;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.arrow-right::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333;
  position: relative;
  top: -10px;
  left: -60px;
}
.stop::before,
.stop::after {
  content: '';
  display: inline-block;
}
.stop::before {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 50%;
}
.stop::after {
  border: 10px solid #333;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: relative;
  top: -7px;
  left: -20px;
}
.start {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 50%;
}
.start::before,
.start::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: #333;
  transform: rotate(90deg);
}
.start {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 50%;
}
.start::before,
.start::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: #333;
  transform: rotate(90deg);
}
.rewind {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
}
.rewind::before,
.rewind::after {
  content: '';
  display: inline-block;
  border: 10px solid #333;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 5px;
}
.rewind::before {
  left: -4px;
}
.rewind::after {
  left: 3px;
}
.fast-forward {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
}
.fast-forward::before,
.fast-forward::after {
  content: '';
  display: inline-block;
  border: 10px solid #333;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 5px;
}
.fast-forward::before {
  left: 8px;
}
.fast-forward::after {
  left: 15px;
}
.go-home {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 50%;
}
.go-home::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #333;
  position: relative;
  top: 5px;
  left: 7px;
}
.question {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
}
.question::before,
.question::after {
  content: '';
  display: inline-block;
  width: 4px;
  background-color: #333;
  position: absolute;
  left: 13px;
}
.question::before {
  height: 4px;
  top: 3px;
}
.question::after {
  height: 15px;
  top: 10px;
}
.search {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
}
.search::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #333;
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  left: 14px;
}
.enlarge {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
}
.enlarge i {
  display: block;
  width: 13px;
  height: 2px;
  background-color: #333;
  transform: rotate(90deg);
  position: relative;
  top: -12px;
  left: 3px;
}
.enlarge::after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 2px;
  background-color: #333;
  position: relative;
  top: -29px;
  left: 3px;
}
.enlarge::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #333;
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  left: 14px;
}
.lessen {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
}
.lessen::after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 2px;
  background-color: #333;
  position: relative;
  top: -27px;
  left: 3px;
}
.lessen::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #333;
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  left: 14px;
}
.prohibit {
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
}
.prohibit::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #333;
  transform: rotate(45deg);
}
.moon,
.moon::before {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
}
.moon::before {
  content: '';
  display: inline-block;
  position: relative;
  left: -10px;
  top: 2px;
  background-color: #fff;
}
.more::before,
.more::after {
  content: '';
  display: block;
  position: relative;
}
.more,
.more::before,
.more::after {
  width: 30px;
  height: 3px;
  background-color: #333;
}
.more::before {
  top: -10px;
}
.more::after {
  top: 7px;
}
.person {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
}
.person::after {
  content: '';
  display: block;
  width: 35px;
  height: 20px;
  background-color: #333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  top: 25px;
  left: -7px;
}
